@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

:root{
  --primary: #083250;
  --secondary: #3c6382;
  --medium: #60a3bc;
  --light: #82ccdd;
  --white: #eeeeee;
  --gray: #ceced1;
  --danger: #ec7062;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  font-size: 17px;
  background-color: var(--primary);
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5rem;
}

/* header */
.header{
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.logo a{
  font-size: 23px;
  font-weight: 600;
  color: var(--white);
}

.nav-menu button{
      padding: 10px 18px;
      font-family: Montserrat;
      border: 0;
      outline: none;
      font-size: 16px;
      cursor: pointer;
      transition: .3s all ease;
      margin: 0 .23rem;
      background-color: var(--secondary);
      color: var(--white);
}

.content-container{
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item{
  width: 600px;
  max-width: 95%;
  background-color: white;
  text-align: center;
  padding: .4rem;
  position: relative;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.5);
}

.card-text-front{
  font-size: 23px;
  transition-duration: 0.8s;
}

.card-text-front.active{
  transition-property: transform;
  transform: rotateX(360deg);
}

.card-text-back{
  font-size: 24px;
  transition-duration: 0.8s;
  transition-property: transform;
  transform: rotateX(360deg);
}

.left-btn, .right-btn{
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
  background-color: var(--gray);
  color: var(--primary);
  padding: 1rem .7rem;
  font-size: 21px;
  cursor: pointer;
}

button{
  cursor: pointer;
  outline: none;
  transition: .3s all ease;
}

button:hover{
  filter: brightness(120%);
}

.left-btn{
  left: 0;
}

.right-btn{
  right: 0;
}

.counter{
  background-color: var(--gray);
  padding: .7rem;
  position: absolute;
  top: 100%;
  width: 100%;
  font-size: 23px;
  filter: brightness(115%);
}

.card-text-back{
  display: none;
}

.card-content{
  cursor: default;
}

.flip-btn, .remove-btn{
  position: absolute;
  top: 100%;
  margin: .5rem;
  font-size: 23px;
  cursor: pointer;
  z-index: 100;
}

.flip-btn{
  right: 0;
  color: var(--light);
}

.remove-btn{
  left: 0;
  color: var(--danger);
}

/* modal */
.modal-wrapper{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0,0, 0.5);
  transition: .3s all ease;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.modal-wrapper.show{
  visibility: visible;
  opacity: 1;
}

.modal{
  background-color: var(--white);
  border-radius: .5rem;
  width: 600px;
  max-width: 90%;
}

.modal-header{
text-align: right;
padding: 1rem;
background-color: var(--gray);
border-radius: 5px 5px 0 0;
}

.modal-content{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: .5rem;
}

input{
  margin-bottom: 1rem;
  border: 1px solid var(--gray);
  padding: .7rem;
  outline: none;
  font-size: 17px;
}

input[type="submit"]{
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
}


/* media queries */

@media(max-width: 800px){
  .header {
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    padding: 1rem;
    }
}

